body 
{
    margin: 0px; padding: 0px;
    overflow: hidden;
    text-align: center;
    background-image:  url('bg/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font-family: space;
  font-size: 12px;
  margin: 0;
  outline: 0;
  padding: 5px;
  transition: all .1s linear;
}

.button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

#canvas{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	display: none;
	animation: none;
}

@keyframes darker{

	from{ display: block; opacity: 0;}
	to{ display:block; opacity: 0.8;}
}

@keyframes lighter {

	from{ display: block; opacity: 0.8;}
	to{ display:none; opacity: 0;}
}

#welcome {
	position: absolute;
	font-family: space;
	font-size: 50px;
	top: 220px;
	left: 450px;
	color: white;
	display: block;
}


#buttonStart{
	position: absolute;
	height: 60px;
	width: 150px;
	left: 600px;
	top: 300px;
	outline: none;
	display: block;
}

#buttonLoad{
	position: absolute;
	height: 60px;
	width: 150px;
	left: 600px;
	top: 370px;
	outline: none;
	display: block;
}




#inputName{
	padding-left: 15px;
	position: absolute;
	top: 270px;
	left: 470px;
	width: 400px;
	height: 50px;
	background-color: white;
	border: 3px solid #9adacc;
	border-radius: 7px;
	font-family: 'Helvetica';
	font-size: 25px;
	color: grey;
	outline: none;
	display: none;
}

#inputName:focus{
	outline: none;
	animation: light 1s forwards;
}

#buttonConfirm{
	position: absolute;
	height: 40px;
	width: 420px;
	left: 471px;
	top: 340px;
	display: none;
}

@keyframes light {
	from {box-shadow: 0 0 0px white;}
	to {box-shadow: 0 0 10px white;}
}

#Logo {

	position: absolute;
	top: 20px;
	left: 430px;
}

#Logo1{

	position: absolute;
	width: 190px;
	height: 430px;
	top: 20px;
	left: 30px;
	background-image: url('logo/chrome.png');
	animation: none;
    display: none;
    opacity: 0;
}

#Logo2{

	position: absolute;
	width: 190px;
	height: 329px;
	top: 20px;
	left: 1150px;
	background-image: url('logo/pet.png');
	animation: none;
    display: none;
    opacity: 0;
}

@keyframes Float{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

@keyframes Floatx{
    from {-webkit-transform:translate(0, -0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, 0px);    }    
}

#window{
	position: absolute;
	top: 20px;
	left: 240px;
	width: 900px;
	height: 600px;
	border: 5px solid #9adacc;
    background-image:  url('bg/background1.gif');
	border-radius: 10px;
	margin: auto;
	display: none;
	opacity: 0;
	animation-name: none;
	animation-fill-mode: both; 
}

@keyframes show /* Safari and Chrome */
{
	from{
		0% display:block ; opacity: 0;
	} To {
		100% display: block ; opacity: 1;
	}
}

#pet{
	position: absolute;
	margin: 2% auto;
	top: 410px;
	left: 380px;
	width: 103px;
	height: 60px;
	background-image: url('pet/pet.png');
	animation: play 1.1s steps(4) infinite;
}

@keyframes play {
    100% { background-position: -412px; }
}

@keyframes playEvo {
	100% { background-position: -264px; }
}

@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 

#poop{
	position: absolute;
	height: 32px;
	width: 32px;
	top: 450px;
	left: 550px;
	background-image: url('image/poop.png');
	display: none;
	animation: none;
}

#statistics{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 120px;
	height: 150px;
	background: white;
	border: 2px solid #9adacc;
	border-bottom-right-radius: 10px;
	padding: 5px;
	text-align: left;
	opacity: 0.6;
}

.stat{
	top: 5px;
	position: relative;
	width: 100px;
	height: 10px;
	font-family: 'calibri';
	font-size: 13px;
	color: white;
}

#stats{
	position: absolute;
	font-family: space;
	font-size: 12px;
	color: #2ECC40;
	left: 40px;
	top: 0px;
}



#logtxt{
	position: absolute;
	top: 10px;
	right: 0px;
	font-family: space;
	font-size: 22px;
	color: #2ECC40;
	left: 910px;
	top: 70px;
	-webkit-transform: rotate(90deg);
	test-shadow: 2px 2px orange;
}

#quest{
	position: absolute;
	top: 535px;
	left: 475px;
	width: 400px;
	height: 30px;
	background-color: white;
	border: 3px solid #9adacc;
	border-bottom-right-radius: 10px;
	border-top-left-radius : 70px;
}

#buttonShop{
	position: absolute;
	top: 520px;
	left: 20px;
	width: 64px;
	height: 64px;
	background-image: url('button/Shop.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonShop{
	opacity: 1.0;
	animation: pulse 0.5s ease infinite;
}


#buttonFeed{
	position: absolute;
	top: 520px;
	left: 90px;
	width: 64px;
	height: 64px;
	background-image: url('button/Feed.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonFeed{
	opacity: 1.0;
	animation: pulse 0.5s ease infinite;
}

#buttonHeal{
	position: absolute;
	top: 520px;
	left: 160px;
	width: 64px;
	height: 64px;
	background-image: url('button/Heal.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonHeal{
	opacity: 1.0;
	animation: pulse 0.5s ease infinite;
}

#buttonGym{
	position: absolute;
	top: 520px;
	left: 230px;
	width: 64px;
	height: 64px;
	background-image: url('button/GYM.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonGym{
	opacity: 1.0;
	animation: pulse 0.5s ease infinite;
}

#buttonWC{
	position: absolute;
	top: 520px;
	left: 300px;
	width: 64px;
	height: 64px;
	background-image: url('button/WC.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonWC{
	opacity: 1.0;
	animation: pulse 0.5s ease infinite;
}


#date{
	position: absolute;
	top: 10px;
	left: 718px;
	width: 170px;
	height: 26px;
	border: 2px solid #9adacc;
	background-color: white;
	border-top-right-radius: 9px;
	font-family: 'calibri';
	font-size: 14px;
	padding-top: 10px;
	color: #17C654;
	opacity: 0.7;
}

#moneyLog{
	position: absolute;
	top: 370px;
	left: 738px;
	width: 150px;
	height: 25px;
	border: 2px solid #9adacc;
	background-color: white;
	border-bottom-left-radius: 10px;
	font-weight: bold;
	opacity: 0.7;
	padding-bottom: 5px;
}



.speech-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 20px;
    width: 110px;
    text-align: center;
    padding: 4px;
    position: absolute;
    top: 350px;
    left: 420px;
    animation: none;
    opacity: 0;
}

#message {
	font-size: 14px;
	font-family: smart;
}

.speech-bubble .arrow {
    border-style: solid;
    position: absolute;
    animation: none;
}
 
.bottom {
    border-color: #f8f8f8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
    left: 20px;
}



.animated { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 


@keyframes bounceInDown { 
    0% { 
    	opacity: 0;
        transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(20px); 
    } 
    80% { 
    	opacity: 1; 
        transform: translateY(-10px); 
    } 
    100% { 
    	opacity: 1; 
        transform: translateY(0); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
    	opacity: 1; 
        transform: scale(.9); 
    } 

    100% { 
    	opacity: 1; 
        transform: scale(1); 
    } 
} 

@keyframes bounceOut { 
    0% { 
    	opacity: 1; 
        transform: scale(1); 
    } 
    25% { 
    	opacity: 1; 
        transform: scale(.95); 
    } 
    50% { 
        opacity: 1; 
        transform: scale(1.1); 
    } 
    100% { 
        opacity: 0; 
        transform: scale(.3); 
    } 
} 

@keyframes appear {

	from{
		0% display:block ; opacity: 0;
	} To {
		100% display: block ; opacity: 1;
	}
}

@keyframes disappear {

	from{
		0% display:block ; opacity: 1;
	} To {
		100% display: block ; opacity: 0;
	}

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@font-face {
    font-family: space;
    src: url('font/Space Comics.ttf');
}

@font-face {
	font-family: smart;
	src: url('font/Smart_Kid.otf');
}
