body 
{
    margin: 0px; padding: 0px;
    background-image
    overflow: hidden;
    text-align: center;
    background-image:  url('background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;     
}



#window{
	position: relative;
	top: 20px;
	width: 900px;
	height: 600px;
	border: 5px solid #9adacc;
    background-image:  url('background2.gif');
	border-radius: 10px;
	margin: auto;
	display: inline-block;
}

#pet{
	position: absolute;
	top:420px;
	left: 380px;
	width: 102px;
	height: 60px;
	background-image: url('pet/pet1.png');
	background-size: 102px 60px;
}

#statistics{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 120px;
	height: 150px;
	background-color: #EFF7FF;
	border: 2px solid #9adacc;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 2px 10px orange;
	padding: 5px;
	text-align: left;
	opacity: 0.6;
}

.stat{
	top: 5px;
	position: relative;
	width: 100px;
	height: 10px;
	font-family: 'calibri';
	font-size: 13px;
	color: black;
}

#stats{
	position: absolute;
	font-family: skater;
	font-size: 25px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #9adacc;
	left: 50px;
	top: 2px;
}

#logtxt{
	position: absolute;
	font-family: skater;
	font-size: 40px;
	color: #9adacc;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	left: 885px;
	top: 70px;
	-webkit-transform: rotate(90deg);
}

#moneytxt{
	position: absolute;
	font-family: skater;
	font-size: 30px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #9adacc;
	left: 785px;
	top: 380px;

}

#quest{
	position: absolute;
	top: 535px;
	left: 475px;
	width: 400px;
	height: 30px;
	background-color: white;
	border: 3px solid #9adacc;
	border-bottom-right-radius: 10px;
	border-top-left-radius : 70px;
	box-shadow: 2px 2px 10px orange;
}

#buttonShop{
	position: absolute;
	top: 520px;
	left: 20px;
	width: 64px;
	height: 64px;
	background-image: url('button/Shop.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonShop{
	opacity: 1.0;
	animation: pulse 1s ease infinite;
}


#buttonFeed{
	position: absolute;
	top: 520px;
	left: 90px;
	width: 64px;
	height: 64px;
	background-image: url('button/Feed.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonFeed{
	opacity: 1.0;
	animation: pulse 1s ease infinite;
}

#buttonHeal{
	position: absolute;
	top: 520px;
	left: 160px;
	width: 64px;
	height: 64px;
	background-image: url('button/Heal.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonHeal{
	opacity: 1.0;
	animation: pulse 1s ease infinite;
}

#buttonGym{
	position: absolute;
	top: 520px;
	left: 230px;
	width: 64px;
	height: 64px;
	background-image: url('button/GYM.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonGym{
	opacity: 1.0;
	animation: pulse 1s ease infinite;
}

#buttonWC{
	position: absolute;
	top: 520px;
	left: 300px;
	width: 64px;
	height: 64px;
	background-image: url('button/WC.png');
	background-size: 64px 64px;
	background-repeat: no-repeat;
	text-align: center;
}

:hover#buttonWC{
	opacity: 1.0;
	animation: pulse 1s ease infinite;
}


#date{
	position: absolute;
	top: -2px;
	left: 728px;
	width: 170px;
	height: 35px;
	border: 2px solid #9adacc;
	background-color: white;
	border-top-right-radius: 10px;
	font-family: kraash;
	font-size: 14px;
	color: #9adacc;
	opacity: 0.7;
}

#money{
	position: absolute;
	top: 361px;
	left: 748px;
	width: 150px;
	height: 25px;
	border: 2px solid #9adacc;
	background-color: white;
	border-bottom-left-radius: 10px;
	opacity: 0.7;
}



@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


@font-face {
    font-family: skater;
    src: url('font/Skater Girls Rock.ttf');
}